* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.hero {
  height: 60vh;
  background: linear-gradient(135deg, #1e3c72,#2a5298);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 40px;
}

.hero h1 {
  font-size: 3rem;
  margin-bottom: 15px;
}

.hero p {
  font-size: 1.3rem;
  opacity: 0.9;
}
.escudo {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 90px;
}
.intro {
  max-width: 800px;
  margin: 40px auto;
  font-size: 1.1rem;
  text-align: center;
  border-radius: 20px;
  color: #444;
}

body {
  background-color: #f6f7fb;
  color: #333;
}

header {
  text-align: center;
  padding: 3rem 1rem;
  background: linear-gradient(135deg, #cfd9df, #e2ebf0);
}

header h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

header h2 {
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 0.5rem;
}

header p {
  max-width: 700px;
  margin: 1rem auto 0;
  font-size: 1rem;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 1.5rem;
  padding: 3rem;
}

.card {
  background: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}


.card h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.card p {
  font-size: 0.95rem;
  margin-bottom: 1rem;
}

.card a {
  text-decoration: none;
  background-color: #6c63ff;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 20px;
  font-size: 0.9rem;
}

.card a:hover {
  background-color: #554eea;
}

footer {
  text-align: center;
  padding: 1.5rem;
  background-color: #eaeaea;
  font-size: 0.9rem;
}
